<link rel="stylesheet" href="education.component.css">
<a name="2"></a>
<section class="education">

    <div class="title_education">
        <h2>Educacion</h2>
    </div>

    <!--LISTA DE EDUCACIONES-->
    <div class="list_education">

        <h2>Esc. Media N: 2 Guillermo Leloir</h2>

        <h5>Bachillerato con orientación en gestión y administración</h5>

        <p>2015 - 2018</p>

    </div>

    <div class="list_education">

        <h2>Instituto Politécnico Superior General San Martín</h2>

        <h5>Analista Universitario en Sistemas</h5>

        <p> 2020 - </p>

    </div>

    

</section>

<hr id="line">