footer{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.2%;
    
}

footer p{
    color: rgb(0, 0, 0);
    margin-top: 10px;
    text-align: center;
}

